/.vs/VideoGrace/v15
/Client/x64/Debug
/Engine/x64/Debug
/x64/Debug
*.idb
*.pdb
*.a
*.lib

/Client/Release
/Engine/Release
/Release

Makefile
CMakeCache.txt
cmake_install.cmake

CMakeFiles/

Client/Client
Client/cmake_install.cmake
Client/CMakeFiles/
Engine/CMakeFiles/

Tests/ShClnt/ShClnt
