.vs/
/Client/x64/Debug
/Client/x64/Release
/Engine/x64/Debug
/Engine/x64/Release
/x64/Debug
/x64/Release
*.idb
*.pdb
*.a
*.lib

/Client/Release
/Engine/Release
/Release

Makefile
CMakeCache.txt
cmake_install.cmake

CMakeFiles/

Client/Client
Client/cmake_install.cmake
Client/CMakeFiles/
Engine/CMakeFiles/

Tests/ShClnt/ShClnt

/Tests/ShClnt/x64/Release
/Installer/x64/Release
/Installer/Release
/x64
/Tests/ShClnt/x64/Debug
/Client/Debug
/Engine/Debug
/Installer/Debug
